*{box-sizing: border-box;}
body {
   font-family: 'GillSans';
   font-weight: 400;
   font-size: 1.5rem;
}


.tagged-as span {
   display: inline-block;
   padding: 20px;
   margin: 10px;
   background: purple;
   color: #fff;
   line-height: 1.5rem;
}

.tagged-as .so-hot {
   background: firebrick;
   color: #fff;
}

.not-done{
   color: #767676
}

.done{
   background: lightgreen;
}

ul.list-of-chores{
   list-style-type: none;
}

.some-text{
   width: 300px;
   padding: 4px;
   color: #fff;
   background: #afafdd;
}

.bold-text{
  font-weight: 700;
  text-decoration: underline;
  color: chartreuse;
  text-shadow: 1px 1px 1px #333;
}

.very-important{
  background: tomato;
}
